$btn-padding: 10px 0;

.btn{
    border: none;
    box-shadow: none;
    padding: $btn-padding;
    background: $primary-color;
}

.btn:hover{
    background-color: $secondary-color;
}

.btn-opacity{
    background-color: $primary-color-opacity !important;
}

form .btn{
    border-radius: 0;
    width: 100%;
}