.navbar-expand-lg .navbar-collapse {
    flex-direction: column;
}

.custom-nav{
    background: $white;

    .navbar-brand img{
        width: 150px;
    }

    .navbar-nav{
        float: right;
        padding: 0;

        .nav-link{
            color: $black;
            
            h5 {
                margin: 0;
                padding: 0 5px;
            }
            .active-bar{
                width: 100%;
                height: 5px;
                background-color: $secondary-color;
            }
        }
        .waves-effect{
                display: flex;
                flex-direction: row;

                .fa-phone, .fa-facebook-f, .fa-envelope{
                    color: $primary-color;
                }
            }
    }
    
    
}


@media only screen and (max-width: 992px){
    .nav-flex-icons{
        display: none;
    }
}
