/* ----------------------------------
        Custom navbar
    I forlængelse af bootstrap 
------------------------------------*/
.navbar-expand-lg .navbar-collapse {
    flex-direction: column;
}

.custom-nav{
    background: $white;
    padding-bottom: $spacer / 4;

    .navbar-brand img{
        width: 150px;
    }

    .navbar-nav{
        float: right;
        padding: 0;
        padding-bottom: $spacer / 4 !important;

        .nav-link{
            color: $black;
            
            h6 {
                margin: 0;
                padding: 0 5px;
            }
            .active-bar{
                width: 100%;
                height: 3px;
                background-color: $secondary-color;
            }
        }

        .active h6 {
            font-weight: $semibold;
        }

        .waves-effect{
                display: flex;
                flex-direction: row;

                .fa-phone, .fa-facebook-f, .fa-envelope{
                    color: $primary-color;
                }
            }
    }
    
    
}


@media only screen and (max-width: 992px){
    .nav-flex-icons{
        display: none;
    }
}
