.navbar-expand-lg .navbar-collapse {
    flex-direction: column;
}

.custom-nav{
    background: $white;

    .navbar-brand img{
        width: 150px;
    }

    .navbar-nav{
        float: right;
    }
    
    .nav-link{
        color: $black;
        display: flex;
        flex-direction: column;

        .sr-only{
            background: $secondary-color;
            height: 10px;
        }

    }
}


@media only screen and (max-width: 992px){
    .nav-flex-icons{
        display: none;
    }
}
