/* ----------------------------------
       Generelle prefix classes 
------------------------------------*/
.spacer{
    margin-bottom: $spacer;
}

/* ----------------------------------
            Forside styles 
------------------------------------*/
.img-slide{
    background-repeat: no-repeat;
    background-color: $white;
    background-size: cover;
    height: 500px;

    .img-text{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;

        button{
            margin-top: 25px;
            width: 200px;

            h4{
                color: white;
                margin-bottom: 0;
            }
        }
    }
}
// Background images for sliders
#bg-1{
    background-image: url('../images/slider.jpg');
}

#bg-2{
    background-image: url('../images/trae.jpg');
    padding-top: $spacer / 2 ;
    padding-bottom: $spacer;
    height: auto !important;
}

.virksomheder{
    padding-top: $spacer;
    text-align: center;
    .col{
        height: 100px;
        line-height: 100px;
        img{
        max-width: 300px;
        max-height: 100px;
        vertical-align: middle;
        }
    }
}

.text-box{
    text-align: center;
    margin: $spacer auto;
}

.text-box-1{
    max-width: 550px;
}

.text-box-2{
    max-width: 750px;
}

.img-grid{
    margin-bottom: $spacer;
    img{
        width: 100%;
    }
    .img-grid-text{
        margin: 1.5rem 0 $spacer 0;
        text-align: center;
    }
}


/* ----------------------------------
             Footer styles 
------------------------------------*/

footer{
    background-color: $dark-background;

    .footer-text{
        margin-top: $spacer / 2;
        color: $white;
    }
}

